* {
    padding: 0%;
    margin: 0%;
}

/*======================
    404 page
=======================*/


.page_404 {
    padding: 40px 0;
    background: #fff;
    font-family: 'Arvo', serif;
    display: none;
}

.page_404 img {
    width: 100%;
}

.four_zero_four_bg {

    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 100vh;
    width: 100vw;
    background-position: center;
}


.four_zero_four_bg h1 {
    font-size: 80px;
}

.four_zero_four_bg h3 {
    font-size: 80px;
}

.link_404 {
    color: #fff !important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}





body {
    background-color: black;
}

.calc {
    margin-top: 1%;
    margin-left: 35%;
    height: 95vh;
    width: 35vw;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(95, 93, 93);
    border-radius: 10px;
    border-left: 2px solid black;
}


.screen {
    height: 24vh;
    width: 32vw;
    background-color: rgb(185, 185, 185);
    margin-left: 4%;
    margin-top: 10%;
    margin-right: 4%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    overflow-wrap: break-word;
    font-size: 32px;
}




.row1 {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.r1 {
    height: 80px;
    width: 80px;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.rp {
    font-weight: bolder;
    height: 80px;
    width: 80px;
    font-size: 20px;
    font-weight: 20px;
    background-color: black;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.row2 {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.r2 {
    height: 80px;
    width: 80px;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.r- {
    font-weight: bolder;
    height: 80px;
    width: 80px;
    font-size: 20px;
    font-weight: 20px;
    background-color: black;
    color: white;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 10px;
}

.row3 {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.r3 {
    height: 80px;
    width: 80px;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.rx {
    font-weight: bolder;
    height: 80px;
    width: 80px;
    font-size: 20px;
    font-weight: 20px;
    background-color: black;
    color: white;
    border: 2px solid rgb(212, 212, 212);
    border-radius: 10px;
}

.row4 {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
}

.r4 {
    height: 80px;
    width: 80px;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.ro {
    font-weight: bolder;
    height: 80px;
    width: 80px;
    font-size: 20px;
    font-weight: 20px;
    background-color: black;
    color: white;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

.rc {
    height: 80px;
    width: 80px;
    font-weight: bolder;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: red;
    color: white;
}

@media (max-width: 1400px) {
    .calc {
        display: none;
    }

    .page_404 {
        display: block;
    }

}

@media(max-width:155px) {
    body {
        display: none;
    }
}
